apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: apps
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: db
        image: 192.168.49.3:5002/database:62f002b4
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: rootpassword
        - name: MYSQL_DATABASE
          value: appdb
        ports:
        - containerPort: 3306
